[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
per-file-ignores =
    utilities.py:E203
max-complexity = 30
count = true

# E203 Whitespace before ':', caused by function output used as list slice
